body {
    overflow-x: hidden;
    /* background: #E8E8E8; */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background:  #0c2a85;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html {
    scrollbar-color:  #0c2a85 #f1f1f1;  
    scrollbar-width: thin;
}